html,
body {
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

header {
    height: 70px;
    width: 100%;
    font-size: 40px;
    padding: 10px;
    vertical-align: middle;
    font-family: 'Carter One', cursive;
}

main {
    width: 100%;
    height: calc(100vh - 70px);
    vertical-align: top;
    padding: 30px 15px;
    border-left: 1px solid #888;    
    overflow: auto;
    max-height: auto;
}

article {
    position: relative;
    width: 100%;
    /* height: auto;
    max-height: 100%; */
}

section.image {
    position: absolute;
    padding: 15px;  
}

img{
    box-shadow: 10px 10px 50px grey; 
    border-radius: 15px;
}