* {
	box-sizing: border-box;
}

.padding-top-md {
	padding-top: 20px;
}

.margin-top-md {
	margin-top: 20px;
}

.padding-left-md {
	padding-left: 20px;
}

.margin-left-md {
	margin-left: 20px;
}

.padding-bottom-md {
	padding-bottom: 20px;
}

.margin-bottom-md {
	margin-bottom: 20px;
}

.padding-right-md {
	padding-right: 20px;
}

.margin-right-md {
	margin-right: 20px;
}

.margin-md {
	margin: 20px;
}

.padding-md {
	padding: 20px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-user {

	.user-profile {
		padding: 16px;
		.user-info {
			display: flex;
			justify-content: space-between;

			.user-name {
			}

			.user-img {
				height: 72px;
				width: 72px;

				img {
					border-radius: 50%;
					width: 100%;
				}

			}

		}

		.follow-section {
			display: flex;

			.follower-icons {
			}

		}

		.num-followers {
			padding-left: 10px;
		}

		.num-following {
			padding-left: 10px;
		}

	}

	.user-links {
		padding: 16px;
		.user-links-items {
			display: inline-block;
			border-radius: 999px;
			padding: 12px;

			&:hover {
				background-color: #efefef;
			}

		}

	}

	.user-content {
		.boards {
		}

		.create-board {
		}

		.boards-list {
			.boards-item {
				justify-content: center;
				flex-wrap: wrap;
				display: flex;
				padding: 16px;

				.boards-item-padding {
					padding: 15px;
					transition: background-color 0.5s;

					.boards-item-collection {
						width: 195px;
						display: flex;
						flex-wrap: wrap;
						height: 195px;
						flex-direction: row;

						.boards-item-collection-item {
							margin-right: 0 2px 2px 0;
							width: 95.5px;
							height: 95.5px;

							.boards-item-collection-item-img {
								background-position: 50%;
								background-repeat: no-repeat;
								height: 100%;
								width: 100%;
								position: relative;
							}

						}

					}

					.boards-item-desc {
						padding: 0 3px;

						.boards-title {
							font-weight: bold;
							padding: 10px 0 5px;
							font-size: 20px;
						}

						.num-pins {
							padding-bottom: 14px;
						}

						.follow-button {
							font-size: 16px;
							color: #fff;
							background-color: #bd081c;
							min-height: 40px;
							cursor: pointer;
							padding: 10px 14px;
							border-radius: 4px;
							text-align: center;
						}

					}

					&:hover {
						background-color: grey;
						opacity: 0.8;
						border-radius: 7px;
					}

				}

			}

		}

	}

}


@media only screen and (min-width:600px) {
}
