* {
  box-sizing: border-box; }

.padding-top-md {
  padding-top: 20px; }

.margin-top-md {
  margin-top: 20px; }

.padding-left-md {
  padding-left: 20px; }

.margin-left-md {
  margin-left: 20px; }

.padding-bottom-md {
  padding-bottom: 20px; }

.margin-bottom-md {
  margin-bottom: 20px; }

.padding-right-md {
  padding-right: 20px; }

.margin-right-md {
  margin-right: 20px; }

.margin-md {
  margin: 20px; }

.padding-md {
  padding: 20px; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }


.main-user .user-profile {
  padding: 30px 16px 16px;
}
  .main-user .user-profile .user-info {
    display: flex;
    justify-content: space-between; }
    .main-user .user-profile .user-info .user-name {
      font-size: 45px;
      }
      .main-user .user-profile .user-info .user-img img {
        border-radius: 50%;
        width: 100%; }
  .main-user .user-profile .follow-section {
        padding-top: 20px;
    display: flex; }
  .main-user .user-profile .num-followers {
    padding-left: 10px; }
  .main-user .user-profile .num-following {
    padding-left: 10px; }
.main-user .user-links {
  padding: 16px; }
  .main-user .user-links .user-links-items {
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
    padding: 12px; }
    .main-user .user-links .user-links-items:hover {
      /* background-color: lightgrey; */ }
      .main-user .user-links .active {
        background-color: black; 
        color: white;
        font-weight: bolder;}
.main-user .user-content .boards-list .boards-item {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  padding: 16px; }
  .main-user .user-content .boards-list .boards-item .boards-item-padding {
    padding: 15px;
    transition: background-color 0.5s; }
    .main-user .user-content .boards-list .boards-item .boards-item-padding .boards-item-collection {
      width: 195px;
      display: flex;
      flex-wrap: wrap;
      height: 195px;
      flex-direction: row; }
      .main-user .user-content .boards-list .boards-item .boards-item-padding .boards-item-collection .boards-item-collection-item {
        margin-right: 0 2px 2px 0;
        width: 95.5px;
        height: 95.5px; }
        .main-user .user-content .boards-list .boards-item .boards-item-padding .boards-item-collection .boards-item-collection-item .boards-item-collection-item-img {
          background-position: 50%;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%;
          position: relative; }
    .main-user .user-content .boards-list .boards-item .boards-item-padding .boards-item-desc {
      padding: 0 3px; }
      .main-user .user-content .boards-list .boards-item .boards-item-padding .boards-item-desc .boards-title {
        font-weight: bold;
        padding: 10px 0 5px;
        font-size: 20px; }
      .main-user .user-content .boards-list .boards-item .boards-item-padding .boards-item-desc .num-pins {
        padding-bottom: 14px; }
      .main-user .user-content .boards-list .boards-item .boards-item-padding .boards-item-desc .follow-button {
        font-size: 16px;
        color: #fff;
        background-color: #bd081c;
        min-height: 40px;
        cursor: pointer;
        padding: 10px 14px;
        border-radius: 4px;
        text-align: center; }
    .main-user .user-content .boards-list .boards-item .boards-item-padding:hover {
      background-color: grey;
      opacity: 0.8;
      border-radius: 7px; }

/*# sourceMappingURL=user-board.css.map */

/*header.css*/
header {
    height: 70px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

._29 {
    display: block;
}

._s1 {
    fill: currentColor;
    stroke-width: 0;
    vertical-align: middle;
}

._5k {
    color: #bd081c;
}

#mynavbar a {
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.4px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "\\30D2ラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "\\30E1イリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif;
}


.nav-item .nav-link i {
    font-size: 22px;
}


.user-content{
  height: calc(100vh - 270px);
  overflow: auto;
}

.main-user{
  height: 200px;
}

.user-profile {  
  padding-top: 0;
}

.full-page{  
  height: calc(100% - 70px);
}


#board-placeholder {
  width: 100%;  
  vertical-align: top;
  padding: 30px 15px;
  border-left: 1px solid #888;
}

#board-placeholder #board-article {
  position: relative;
  width: 100%;    
}

#board-placeholder .boardBox {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  border: 1px solid black;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
}

#board-placeholder .imageBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-grow: 1;
}

#board-placeholder .imageBox img{
  flex-grow: 1;
  padding: 1px;
}

#board-placeholder .imageBox section{    
  flex-grow: 1;
  padding: 1px;
}

#board-placeholder .titleText{
  align-self: center;
  font-weight: bolder;
  align-self: center;
  justify-self: baseline;
  text-transform: uppercase;
}

#image-placeholder {
  width: 100%;
  vertical-align: top;
  padding: 30px 15px;
  border-left: 1px solid #888;
  /* max-height: auto; */
}

#image-placeholder #image-article {
  position: relative;
  width: 100%;
  /* max-height: auto; */
  /* height: auto;
  max-height: 100%; */
}

#image-placeholder section.image {
  position: absolute;
  padding: 15px;
}

#image-placeholder img {
  box-shadow: 10px 10px 50px grey;
  border-radius: 15px;
  cursor: pointer;
}