* {
  box-sizing: border-box;
}

.padding-top-md {
  padding-top: 20px;
}

.margin-top-md {
  margin-top: 20px;
}

.padding-left-md {
  padding-left: 20px;
}

.margin-left-md {
  margin-left: 20px;
}

.padding-bottom-md {
  padding-bottom: 20px;
}

.margin-bottom-md {
  margin-bottom: 20px;
}

.padding-right-md {
  padding-right: 20px;
}

.margin-right-md {
  margin-right: 20px;
}

.margin-md {
  margin: 20px;
}

.padding-md {
  padding: 20px;
}

.not-visible {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.landing-section {
  text-align: center;
}
.landing-section .main-block .desktop-view {
  display: none;
}
.landing-section .main-block .desktop-view .welcome-heading {
  font-size: 2.5rem;
}
.landing-section .main-block .desktop-view .ideas {
  text-align: center;
  font-weight: bold;
  color: #cccccc;
  font-size: 18px;
}
.landing-section .main-block .mobile-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  background-color: #f7f7f7;
  padding: 10px;
}
.landing-section .main-block .mobile-view .pinterest-view .pinterest {
  color: #333;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 1.2;
}
.landing-section .main-block .mobile-view .pinterest-view .pinterest-text {
  font-size: 14px;
  font-weight: 400;
}
.landing-section .main-block .mobile-view .red-back-color {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #bd081c;
  padding: 8px 14px;
  border-radius: 4px;
}
.landing-section .main-block .log-in-section {
  padding: 0 10px;
}
.landing-section .main-block .log-in-section .log-board {
  padding-bottom: 15px;
  border-bottom: 1px solid #f7f7f7;
  font-size: 16px;
}
.landing-section .main-block .log-in-section .gg-login {
  border: none;
  background-color: #4285f4;
  height: 40px;
  padding: 0px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.landing-section .main-block .log-in-section .gg-login svg {
  position: absolute;
  left: 10px;
  top: 17px;
  width: 26px;
  background-color: white;
  padding: 2px;
  height: 26px;
  margin-top: -10px;
  border-radius: 2px;
}
.landing-section .main-block .log-in-section .gg-login .gg-login-text {
  padding-top: 11px;
}
.landing-section .main-block .log-in-section .email-login {
  text-align: left;
  padding-right: 5px;
}
.landing-section .main-block .log-in-section .email-login label div {
  padding-bottom: 10px;
}
.landing-section .main-block .log-in-section .email-login label .password-label {
  padding-top: 20px;
}
.landing-section .main-block .log-in-section .email-login input {
  border: none;
  border: 1px solid black;
  width: 100%;
  padding: 8px 14px;
  border-radius: 4px;
}
.landing-section .main-block .log-in-section .log-in-btn {
  background-color: #efefef;
  color: #8e8e8e;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 700;
}
.landing-section .main-block .log-in-section .forgot-pswrd .forgot-link {
  font-weight: 700;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}
.landing-section .main-block .log-in-section .signup-section .signup-link {
  font-weight: 700;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}
.landing-section .main-block .sign-up-section-expaned {
  padding: 25px;
  padding-top: 0;
}
.landing-section .main-block .sign-up-section-expaned .email-login {
  text-align: left;
  padding-right: 5px;
}
.landing-section .main-block .sign-up-section-expaned .email-login label div {
  padding-bottom: 10px;
}
.landing-section .main-block .sign-up-section-expaned .email-login label .password-label {
  padding-top: 20px;
}
.landing-section .main-block .sign-up-section-expaned .email-login input {
  border: none;
  border: 1px solid black;
  width: 100%;
  padding: 8px 14px;
  border-radius: 4px;
}
.landing-section .main-block .sign-up-section-expaned .gg-login {
  border: none;
  background-color: #4285f4;
  height: 40px;
  padding: 0px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.landing-section .main-block .sign-up-section-expaned .gg-login svg {
  position: absolute;
  left: 10px;
  top: 17px;
  width: 26px;
  background-color: white;
  padding: 2px;
  height: 26px;
  margin-top: -10px;
  border-radius: 2px;
}
.landing-section .main-block .sign-up-section-expaned .gg-login .gg-login-text {
  padding-top: 11px;
}
.landing-section .main-block .sign-up-section-expaned .SignupButton {
  border: 0px;
  height: 36px;
  display: inline-block;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  padding: 0px 18px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  margin-top: 10px;
  vertical-align: middle;
  text-align: center;
  background-color: #bd081c;
  color: white;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
  body .landing-section {
    max-width: 400px;
    margin: auto;
    padding-top: 50px;
  }
  body .landing-section .main-block {
    background-color: white;
    border-radius: 8px;
    padding-top: 10px;
    width: 400px;
  }
  body .landing-section .main-block .log-in-section {
    padding: 25px;
    padding-top: 0px;
  }
  body .landing-section .main-block .mobile-view {
    display: none;
  }
  body .landing-section .main-block .desktop-view {
    display: block;
  }
}