* {
    box-sizing: border-box;
}

body{
    width: 700px;
    height: 550px;
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    max-height: 550px;
}

.image-container{
    display: flex;
    flex-basis: 500px;
    flex-flow: row wrap;
    overflow: auto;
    justify-content: space-evenly;
}

.image-container img{
    border-radius: 10px;
    border: 2px groove grey;
    margin: 10px 0;
}

img.selected{
    border: 5px solid blue;
}

.submit-container{
    min-height: 75px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
}

.boards-box label{
    /* padding: 10px; */
}

.boards-box select{
    /* font-size: 16px; */
}

.boards-box select option{
    /* font-size: 14px; */
}

.boards-box input{  
    /* font-size: 16px; */
}

.boards-submit-button button{
    padding: 5px;
    background-color: lightgray;
    font-weight: bolder;
    border-radius: 10px;
}