header {
    height: 70px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
main {
    width: 100%;
    height: calc(100vh - 70px);
    vertical-align: top;
    padding: 30px 15px;
    border-left: 1px solid #888;
    overflow: auto;
    max-height: auto;
}

#board-article {
    position: relative;
    width: 100%;    
    max-height: auto;
    /* height: auto;
    max-height: 100%; */
}

.boardBox {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    border: 1px solid black;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;
}

.imageBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-grow: 1;
}

.imageBox img{
    flex-grow: 1;
    padding: 1px;
}

.imageBox section{    
    flex-grow: 1;
    padding: 1px;
}

.titleText{
    align-self: center;
    font-weight: bolder;
    align-self: center;
    justify-self: baseline;
    text-transform: uppercase;
}

._29 {
    display: block;
}

._s1 {
    fill: currentColor;
    stroke-width: 0;
    vertical-align: middle;
}

._5k {
    color: #bd081c;
}

#mynavbar a {
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.4px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "\\30D2ラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "\\30E1イリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif;
}


.nav-item .nav-link i {
    font-size: 22px;
}

.message{
    color:#8e8e8e;
    
}